/* responsive for phn */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  header {
    padding: 30px 0;
  }
  nav {
    align-items: center;
  }
  nav ul li {
    display: none;
  }
  nav span {
    font-size: 1.1rem;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu-icon,
  .cart-icon {
    display: block;
  }
  .menu-icon img,
  .cart-icon img {
    display: block;
    width: 20px;
    height: 20px;
  }
  /* banner area */
  .banner {
    padding: 40px 0 !important;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .banner-content {
    width: 100%;
  }
  .banner-content h2 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: center;
  }
  .banner .banner-content h2,
  .banner .banner-content p {
    text-align: center;
  }
  .banner .banner-content button {
    margin: 0 auto;
  }/* end banner area */
  
  /* sponsor area */
  .sponsor{
    grid-template-areas: "alibaba amazon daraz ebay"
    "rak walmart target target";
    gap: 20px;
    margin: 0 auto;
  } 

  /* collection */
  .part-one , .part-two, .part-three{
    flex-direction: column;
  }
}

/* responsive for tab */
@media screen and (min-width:576px) and (max-width:992px) {
   .container {
    width: 90%;
    margin: 0 auto;
  }
  header {
    padding: 30px 0;
  }
  nav {
    align-items: center;
  }
  nav > ul > li {
    display: none;
  }
  nav span {
    font-size: 1.1rem;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  nav .menu-icon,
  nav .cart-icon {
    display: block !important;
  }
  .menu-icon img,
  .cart-icon img {
    display: block;
    width: 20px;
    height: 20px;
  }
  /* banner area */
  .banner {
    padding: 40px 0 !important;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .banner-content {
    width: 100%;
  }
  .banner-content h2 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 30px;
  }
  .banner .banner-content h2,
  .banner .banner-content p {
    text-align: center;
  }
  .banner .banner-content button {
    margin: 0 auto;
  }

  /* sponsor area */
  .sponsor{
    grid-template-areas: "alibaba amazon daraz ebay"
    "rak walmart target target";
    gap: 20px;
    margin: 0 auto;
  }
  /* collection */
  .part-one , .part-two, .part-three{
    flex-direction: column;
  }
}

@media screen and (max-width:410px) {
   .sponsor{
    grid-template-areas: "alibaba amazon daraz ebay"
    "rak walmart target target";
    gap: 20px;
    align-items: center;
  }
}