@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --poppins: 'Poppins', sans-serif;
  --inter: 'Inter', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --primary-color: #e02c6d;
  --secondery-color: #3a3a3a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: var(--poppins);
}

/* header area */
header {
  padding: 70px 0;
}
nav {
  display: flex;
  align-items: center;
  gap: 530px;
}
.menu-icon,
.cart-icon {
  display: none;
}
/* .menu-icon img,
.cart-icon img {
  display: none;
} */
nav ul {
  display: flex;
  align-items: center;
  gap: 34px;
}
nav span {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
}
nav span,
nav ul li a {
  color: var(--secondery-color);
}
nav ul li img {
  width: 20px;
}
.banner {
  padding: 140px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  width: 40%;
}
.banner-content h2 {
  color: var(--secondery-color);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0px;
  text-align: left;
}
.banner-content p {
  color: var(--secondery-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin: 16px 0;
}
.banner-content button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 10px 24px 10px 24px;
  border-radius: 41px;
  background: rgb(224, 44, 109);
  border: 0;
}
.banner-content button span {
  color: rgb(255, 255, 255);
  font-family: var(--poppins);
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.banner-img {
  background: url('../images/Circle.svg') no-repeat center center;
  background-size: contain;
  padding: 30px;
  width: 60%;
  display: flex;
  justify-content: center;
} /* end header area */

/* sponsor area */
.sponsor {
  display: grid;
  grid-template-areas: 'alibaba amazon daraz ebay rak walmart target';
  border-bottom: 1px solid #c0ccda;
  padding: 30px 0;
  margin-bottom: 100px;
}

.alibaba {
  grid-area: alibaba;
}
.amazon {
  grid-area: amazon;
}
.daraz {
  grid-area: daraz;
}
.ebay {
  grid-area: ebay;
}
.rak {
  grid-area: rak;
}
.walmart {
  grid-area: walmart;
}
.target {
  grid-area: target;
} /* end sponsor area **/

/* collection */
.card {
  border-radius: 5px;
  padding: 17px 15px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
}
.collections {
  margin: 100px 0;
  margin-bottom: 50px;
}
.more {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
  margin-bottom: 100px;
}
.more span {
  color: #e02c6d;
}
.more img {
  margin-top: 4px;
}
.collections h2 {
  color: var(--secondery-color);
  font-family: Poppins;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 20px;
}
.part-one,
.part-two,
.part-three {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
.card h2 {
  color: #18191f;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 16px;
}
.card h3 {
  color: #000000de;
  font-family: var(--inter);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.card div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.card div div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card div img {
  width: 16px;
  height: 16px;
}
.card div img:last-child {
  width: 20px;
  height: 20px;
}
.card p {
  color: rgb(120, 120, 133);
  font-family: var(--inter);
  font-size: 1.142857rem;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 1.8%;
  text-align: left;
}
.card div p {
  color: rgb(94, 99, 102);
  font-family: var(--roboto);
  font-size: 1.14285rem;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1px;
  text-align: left;
  margin-top: 10px;
} /* collections */

/* featured */
.featured {
  display: flex;
  gap: 96px;
  align-items: center;
  padding: 100px 0;
}
.featured h2 {
  color: #0a0826;
  font-family: var(--poppins);
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 16px;
}
.featured p {
  color: rgb(108, 108, 108);
  font-family: var(--poppins);
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 16px;
}
.featured button {
  padding: 10px 24px;
  display: flex;
  background-color: #e02c6d;
  border: 0;
  color: #fff;
  gap: 10px;
  align-items: center;
  font-family: var(--poppins);
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
}
.featured-img {
  width: 500px;
  height: 250px;
}
.featured-img img {
  width: 100%;
  height: 100%;
} /* featured */

/* footer */
footer {
  background-color: #0a0826;
  padding: 100px 0;
  text-align: center;
  margin: 0 auto;
}
footer h4 {
  color: #ffffff;
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
}
footer p {
  color: rgb(217, 219, 225);
  font-family: Manrope;
  font-size: 1.14rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 5px;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}
footer div div {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > div > div > img {
  width: 24px;
  height: 24px;
}
/* footer */
